body{background-color: #FF8F33;}
h1{color:#E1FF33;font-family: Garamond; font-size: 40px;}
p{color:#3357FF ; font-family: Arial; front-size: 18px; front-style:italic;}
a{color:#FF334F;font-family: Helvetica; font-size: 18px; text-decoration: none;}
a:hover{color:white;}